@mixin app-mixins($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, accent);

  .dark-theme {
    .splash-page {
      background-color: mat-color($primary, 700);
    }
  }

  .splash-page {
    background-color: mat-color($primary, 300);
  }
}
