/* font */
@import url('https://fonts.googleapis.com/css?family=Berkshire+Swash');

html, body {
    overflow: hidden;
    margin: 0;
    scroll-behavior: smooth;
    background-color: #be0000;
}

h1 {
    font-family: 'Berkshire Swash', 'sans-serif';
    color: white;
}